@model Student
@{
    ViewData["Title"] = "Delete";
}
@if (User.IsInRole("Admin"))
{

<h1>Delete</h1>

<partial name="_StudentCard" model="Model" />
    @if (User.IsInRole("Admin"))
    {

<a asp-action="ConfirmDelete" asp-controller="Student" asp-route-id="@Model.Id" >Delete</a>
    }
}