<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CRUD System</title>
    <link href="~/css/bootstrap.rtl.min .css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <header>
       
        <partial name="_NavBar" />
    </header>



    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>




    <footer class="text-center text-white" ">
        <!-- Grid container -->
        <div class="container pt-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-link btn-floating btn-lg text-light m-1"
                   href="https:/www.facebook.com/ahmed.mega009"
                   role="button"
                   data-mdb-ripple-color="light">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <!-- Twitter -->
                <a class="btn btn-link btn-floating btn-lg text-light m-1"
                   href="https://twitter.com/ME_ga21"
                   role="button"
                   data-mdb-ripple-color="light">
                    <i class="fab fa-twitter"></i>
                </a>


                <!-- Linkedin -->
                <a class="btn btn-link btn-floating btn-lg text-light m-1"
                   href="https://linkedin.com/in/ahmed-ams/"
                   role="button"
                   data-mdb-ripple-color="light">
                    <i class="fab fa-linkedin"></i>
                </a>

            </section>


    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
